# Requisitos del sistema para el backend (Laravel)

# 1. PHP y extensiones
php>=8.0
php-bcmath
php-ctype
php-fileinfo
php-json
php-mbstring
php-openssl
php-pdo
php-tokenizer
php-xml
php-pdo_mysql

# 2. Composer (gestor de dependencias de PHP)
composer>=2.0

# 3. MySQL (base de datos)
mysql>=5.7 

# 4. Git (para clonar el repositorio)
git

# 5. XAMPP 


# Instrucciones para instalar y correr el backend:
# 1. Clona el repositorio:
     git clone https://github.com/Nancy-Ramirez/to_do_list_app.git

# 2. Abrir en Visual Studio Code

# 3. Navega al directorio del backend (importante: los siguientes comandos deben ejecutarse desde este directorio):
     cd todo-list-app

# 4. Instala las dependencias con Composer:
     composer install

# 5. Copia el archivo de entorno:
     cp .env.example .env

# 6. Ejecuta XAMPP

# 7. Configura tu base de datos en .env (DB_HOST, DB_DATABASE, DB_USERNAME, DB_PASSWORD)
#?   Ir a php/myadmin y crear la base
     Nombre de la base a crear: todo_list
     DB_PORT (sugerido) = 3306 (si es diferente, cambiar en .env)

# 8. Genera la clave de la aplicación:
     php artisan key:generate

# 9. Ejecuta las migraciones:
    php artisan migrate

# 10. Inicia el servidor del backend:
    php artisan serve